<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>환영합니다! 여기는  mood diary에요.</h1>
    <div>처음 오시나요? <a href="/user/signup">여기를 눌러주세요</a></div>
    <br>
    <div>회원이신가요? <a href="/user/signin">여기를 눌러주세요</a></div>

</body>
</html>