<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <ul>
        <% for(i of name){%>
            <h4><%= i%>단 </h4>
            <% for( let j =1 ; j<10 ; j++){ %>
                <li><%= i%> x <%=j%> = <%=i*j%></li>
                <% }%>
            <% }%>
    </ul> 
    
</body>
</html>