<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>구매하고싶은 과일을 선택하세요</h1>
    <img src="public/img/apple.jpeg"  width="350"/>
    <a href="/a">사과가게</a>
    <br/>
    <img src="public/img/banana.jpg"  width="350" />
    <a href="/b">바나나가게</a>
    <br/>
    <img src="public/img/포도.jpeg"  width="350"/>
    <a href="/g">포도가게</a>

</body>
</html>